<% if @client.submitted? %>
  <p>Phew! You did it! Why don't you sit back with a tall glass of water?</p>
<% end %>

<%# everyone sees: %>
<h1>Overall ratings</h1>

<p>The BEST pokemon are:</p>

<p>FORTHCOMING. One day this page may have graphs...</p>


<%# if you rated some pokemon: %>
<% if @client.submitted? %>
  <h1>Your ratings</h1>

  <p>Your highest-rated pokemon are:</p>
  <div>
    <% @client_top_pokemon.sample(3).each do |pokemon| %>
      <img src="<%= poke_image(pokemon[:img]) %>">
      <%# TODO: add pokemon's name %>
    <% end %>
  </div>

  <p>Someday I'll add more interesting statistics!</p>

  <p>Thanks for rating! Feel free to come rate again after leveling up a bit.</p>
<% else %>
  <p><a href="/">Submit your Pokemon ratings here!</a></p>
<% end %>

<%# FIXME: remove insta-deletion of session data %>
<% session.delete(:survey) %>
<% session.delete(:submitted) %>